body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.center {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.flex-space {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
